<%- include("../partials/header.ejs", {src : {css: "../css/common.css", js: "../js/common.js"}, statut : {raison: "je sais pas", title: "la gestion d'un utilisateur"}}) %>

<link href="https://cdn.jsdelivr.net/npm/bulma-switch" rel="stylesheet" />

<div class="box container is-widescreen" style="margin-top: 1%;">
    <div class="stickyBar tabs is-centered">
        <ul>
            <li class="is-active">
                <a href="#general">
                    <span class="icon is-small"><i aria-hidden="true" class="fas fa-user-cog"></i></span>
                    <span>Général</span>
                </a>
            </li>
            <li>
                <a href="#securite">
                    <span class="icon is-small"><i aria-hidden="true" class="fas fa-lock"></i></span>
                    <span>Sécurité</span>
                </a>
            </li>
            <li>
                <a href="#role">
                    <span class="icon is-small"><i aria-hidden="true" class="fas fa-user-tag"></i></span>
                    <span>Role</span>
                </a>
            </li>
            <li>
                <a href="#sanction" class="has-text-danger">
                    <span class="icon is-small"><i aria-hidden="true" class="far fa-file-alt"></i></span>
                    <span>Sanction</span>
                </a>
            </li>
        </ul>
    </div>
    <div class="columns is-centered">
        <div class="column is-10">
            <div class="columns is-centered">
                <div class="column is-one-quarter">
                    <figure class="image is-128x128">
                        <img class="is-rounded" src="https://bulma.io/images/placeholders/128x128.png">
                    </figure>
                </div>
                <div class="column is-6">
                    <h1 class="title">Faustin</h1>
                    <hr class="dropdown-divider" id="divider-Name">
                    <h1 id="general" class="title is-4">Général </h1>
                    <div class="field">
                        <label class="label">Pseudo</label>
                        <p class="control has-icons-left">
                            <input class="input" placeholder="Pseudo" autocomplete='off' type="text" value="Faustin">
                            <span class="icon is-small is-left">
                                <i class="fas fa-id-badge"></i>
                            </span>
                        </p>
                    </div>
                    <div class="field">
                        <label class="label">Mot de passe</label>
                        <p class="control has-icons-left">
                            <input class="input" placeholder="Mot de passe" autocomplete='off' type="password" value="ptdrtcru">
                            <span class="icon is-small is-left">
                                <i class="fas fa-lock"></i>
                            </span>
                        </p>
                    </div>
                    <div class="field">
                        <label class="label">Adresse Mail</label>
                        <p class="control has-icons-left">
                            <input class="input" placeholder="Adresse Mail" type="email" value="faustino40@outloook.fr">
                            <span class="icon is-small is-left">
                                <i class="fas fa-envelope"></i>
                            </span>
                        </p>
                    </div>
                    <div class="field">
                        <label class="label">Date de naissance</label>
                        <p class="control has-icons-left">
                            <input class="input" placeholder="" type="date">
                            <span class="icon is-small is-left">
                                    <i class="fas fa-calendar-alt"></i>
                                </span>
                        </p>
                    </div>

                    <br>
                    <h1 id="securite" class="title is-4">Sécurité</h1>
                    <div class="field has-text-danger">
                        <label for="activation">Désactiver</label>
                        <input id="activation" type="checkbox" name="activation" class="switch is-thin is-danger" checked="checked">
                        <label for="activation">Activer le compte</label>
                    </div>
                    <div class="field">
                        <label class="label">Mot de passe</label>
                        <a class="button is-warning is-outlined"><span class="icon"><i class="fas fa-edit"></i></span><span>Modifier</span></a>  <a class="button is-danger is-outlined"><span class="icon"><i class="fas fa-trash-alt"></i></span><span>Remise à zéro</span></a>
                    </div>
                    <div class="field">
                        <label class="label">Code de secours (2FA)</label>
                        <a class="button is-warning is-outlined"><span class="icon"><i class="fas fa-edit"></i></span><span>Afficher</span></a>  <a class="button is-danger is-outlined"><span class="icon"><i class="fas fa-trash-alt"></i></span><span>Remise à zéro</span></a>
                    </div>
                    <div class="field">
                        <label class="label">Double authentification</label>
                        <label class="checkbox"><input type="checkbox" name="doubleauth" checked> Forcer la double authentification</label><br>
                        <a class="button is-info is-outlined"><span class="icon"><i class="fas fa-cog"></i></span><span>Configurer</span></a>  <a class="button is-danger is-outlined"><span class="icon"><i class="fas fa-trash-alt"></i></span><span>Remise à zéro</span></a>
                    </div>

                    <br>
                    <h1 id="role" class="title is-4">Role </h1>
                    <div class="field">
                        <div class="control has-icons-left">
                            <div class="select is-small is-rounded">
                                <select name="">
                                    <option>Ajouter un role</option>
                                    <option>Administrateur</option>
                                    <option>Modérateur</option>
                                </select>
                            </div>
                            <div class="icon is-small is-left">
                                <i class="fas fa-user-tag"></i>
                            </div>
                        </div>
                    </div>
                    <div class="field is-grouped is-grouped-multiline"><div class="control">
                            <div class="tags has-addons">
                                <a class="tag is-warning">Modérateur-Test</a>
                                <a class="tag is-delete"></a>
                            </div>
                        </div>
                        <div class="control">
                            <div class="tags has-addons">
                                <a class="tag is-info">Rédacteur</a>
                                <a class="tag is-delete"></a>
                            </div>
                        </div>
                        <div class="control">
                            <div class="tags has-addons">
                                <a class="tag is-danger">Responsable</a>
                                <a class="tag is-delete"></a>
                            </div>
                        </div>
                    </div>


                    <br>
                    <h1 id="sanction" class="title is-4 has-text-danger">Sanction </h1>
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Id</th>
                            <th>Type</th>
                            <th>Raison</th>
                            <th>Par</th>
                            <th><abbr title="Edit"></abbr></th>
                        </tr>
                        </thead>
                        <tr>
                            <th>1</th>
                            <td class="has-text-danger">Ban à vie</td>
                            <td>Insulte contre un membre du personnel</td>
                            <td>Faustin</td>
                            <td class="text-center"><a href="user.html" class="button is-small is-warning is-outlined"><span class="icon"><i class="fas fa-user-edit"></i></span><span>Modifier</span></a></td>
                        </tr>
                        <tr>
                            <th>2</th>
                            <td class="">Mute temporaire</td>
                            <td>Donne des liens non autorisé</td>
                            <td>Faustin</td>
                            <td class="text-center"><a href="user.html" class="button is-small is-warning is-outlined"><span class="icon"><i class="fas fa-user-edit"></i></span><span>Modifier</span></a></td>
                        </tr>
                        <tr>
                            <th>3</th>
                            <td class="">Kick</td>
                            <td>Il fait trop le malin</td>
                            <td>Faustin</td>
                            <td class="text-center"><a href="user.html" class="button is-small is-warning is-outlined"><span class="icon"><i class="fas fa-user-edit"></i></span><span>Modifier</span></a></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>


</body>
</html>
