<div class="column is-3">
    <aside class="stickyBar menu is-hidden-mobile">
        <p class="menu-label">
            Général
        </p>
        <ul class="menu-list">
            <li><a data-count="1" class="is-active notRead"><i class="fas iconMargin fa-users"></i>Vous</a></li>
            <li><a data-count="6" class="notRead"><i class="fas iconMargin fa-file"></i>Non attribué</a></li>
            <li><a><i class="fas iconMargin fa-archive"></i>Archive</a></li>
            <li><a><i class="fas iconMargin fa-minus-circle"></i>Spam</a></li>
            <li><a><i class="fas iconMargin fa-folder-open"></i>Tous les tickets</a></li>
        </ul>
        <br>
        <br>
        <p class="menu-label">
            Tag
        </p>
        <ul class="menu-list">
            <li><a class="has-text-yellow"><i class="fas iconMargin fa-circle"></i>Feedback</a></li>
            <li><a class="has-text-primary" id="support-tag-driver"><i class="fas iconMargin fa-circle"></i>Driver</a></li>
            <li><a class="has-text-warning"><i class="fas iconMargin fa-circle"></i>Login</a></li>
            <li><a class="has-text-danger"><i class="fas iconMargin fa-circle"></i>Priorité</a></li>
        </ul>
    </aside>
</div>
